*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #14120b;
    --text-color: #EDECEC;
    --text-light-color: #EDECEC99;
    --button-color: #1B1913;
    --button-text-color: #0B1C1F;
    --button-border-color: #4a4949;
    --card-backgound-color: #1B1913;
    --card-border-color: #2a2822;
}

@font-face {
  font-family: "CursorGothic";
  src: url("fonts/CursorGothic-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CursorGothic";
  src: url("fonts/CursorGothic-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CursorGothic";
  src: url("fonts/CursorGothic-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "CursorGothic";
  src: url("fonts/CursorGothic-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

body{
    background-color: var(--background-color);
    font-family: CursorGothic, "CursorGothic Fallback", sans-serif;
}


.section-2{
    display: flex;
    /* border: 2px solid red; */
    gap: 32px;
    margin-left: 25px;
}

.section-2 a{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 200;
}

.section-3{
    display: flex;
    /* border: 2px solid red; */
    gap: 8px;
}

#bt-1{
    color: var(--text-color);
    background: #1B1913;
    border: 1px solid #4a4949;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 14px;
}

#bt-2{
    color: #14120B;
    background: #EDECEC;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 14px;
    border: 1px solid #4a4949;
}


main{
    padding-top: 80px; /* height of header */
}


.hero_section{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 10px;
    margin-top: 70px;
}
.tag_line h1{
    font-size: 26px;
    color: var(--text-color);
    line-height: 1.25;
    font-weight: 400;
    text-wrap: balance; 
}

.ctc_btn{
    color: #14120B;
    background: #EDECEC;
    border-radius: 30px;
    padding: 2px 10px;
    font-size: 16px;
    border: 1px solid #4a4949;
    margin-top: 20px;
    padding: 10px 22px;
}

.hero_image{
    margin-top: 60px;
}

.Trusted_By{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.fet_line{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 100;
}

.cards{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}

.card{
    width: 150px;
    height: 100px;
    background-color: var(--card-backgound-color);
    border-radius: 8px;
    border: 0.75px solid #2a2822;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card img{
    width: 100px;
    height: 50px;
}

.Feature_Sections{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    padding: 10px;
}

.feature_cards{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.feature_card{
    width: 100%;
    height: 690px;
    border: 0.75px solid #2a2822;
    background-color: var(--card-backgound-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.section-l{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    gap: 20px;
}

.heading{
    font: bold;
    font-size: 22px;
    font-weight: 100;
    color: var(--text-color);
}

.section-l p{
    font-size: 22px;
    color: #EDECEC99;
}

.link a{
    color: #F54E00;   
}


.link a:hover{
    color: #a83601;
}
.section-r{
    width: 68%;
    padding: 15px;
}

.section-r img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.Testimonials h2{
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
}

.Testimonials{
    width: 90%;
    margin: auto;
    margin-top: 120px;
}

.Testimonials_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 10px;
    padding: 12px;
    margin-top: 50px;
}

.testimonials_card{
    border: 0.75px solid #2a2822;
    background-color: var(--card-backgound-color);
    border-radius: 4px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.top p{
    color: var(--text-color);
    font-size: 15px;
}

.down{
    display: flex;
    gap: 10px;
    align-items: center;
}


.left img{
    width: 37px;
    height: 37px;
    border-radius: 3px;
}

.right h3{
    font-size: 13.125px;
    color: var(--text-color);
}

.right p{
    font-size: 13.125px;
    color: var(--text-light-color);
}
.use_cases{
    width: 90%;
    margin: auto;
    margin-top: 130px;
    padding: 10px;
}

.use_cases h2{
    font-size: 26px;
    color: var(--text-color);
}

.use_case_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 columns */
    gap: 5px;
    margin-top: 20px;
}

.use_case_card{
    border: 0.75px solid #2a2822;
    background-color: var(--card-backgound-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: 560px;
    width: 425px;
    padding: 15px;
}


.short_text h1{
    font-size: 16px;
    color: var(--text-color);
}

.short_text p{
    font-size: 16px;
    color: var(--text-light-color);
    /* line-height: 24px; */
}

.section-down{
    display: flex;
    justify-content: center;
    align-content: center;
}

.section-down img{
    height: 390px;
    width: 390px;
    border-radius: 4px;
    margin-top: 20px;
}

.Changelog{
    width: 90%;
    margin: auto;
    margin-top: 120px;
}

.Changelog h1{
    font-size: 24.375px;
    color: var(--text-color);
    font-weight: 100;
}

.changelog_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    margin-top: 20px;
}

.chagelog_card{
    border: 0.75px solid #2a2822;
    background-color: var(--card-backgound-color);
    border-radius: 4px;
    width: 317.5px;
    height: 120.96px;
}

.chagelog_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

.date{
    color: var(--text-light-color);
    font-size: 15px;
}

.update{
    color: var(--text-color);
    font-size: 15px;
}

.date{
    display: flex;
    gap: 10px;
    align-items: center;
}

.date span{
    color: #EDECEC99;
    background: #1B1913;
    border: 1px solid #4a4949;
    border-radius: 20px;
    padding: 3px 10px;
}

.chagelog_card:hover{
    background-color: #1F1D17; 
    border-color: #3A3832;     
}

.changelog_link{
    margin-top: 20px;
    color: #F54E00;
    font-size: 16px;
    font-weight: 100;
}

.changelog_link:hover{
    color: #a83601;
}

.join_us{
    width: 90%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    gap: 20px;
}

.join_us_card{
    border: 0.75px solid #2a2822;
    background-color: var(--card-backgound-color);
    border-radius: 4px;
    width: 100%;
    height: 508px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

.join_us_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 4px;
}

.join_us_right{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_us_left{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    padding: 20px;
}

.join_us_left h3{
    font-size: 21px;
    color: var(--text-color);
}

.join_us_link a{
    margin-top: 20px;
    color: #F54E00;
    font-size: 16px;
    font-weight: 100;
}

.join_us_link a:hover{
    color: #a83601;
}

.try_now_section{
    height: 220px;
}

.try_now{
    width: 90%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.try_now h1{
    font-size: 72px;
    color: var(--text-color)
}

.highlights{
    background-color: #1B1913;
    margin-top: 120px;
    height: 685px;
    display: flex;
    align-items: center;
}

.Recent_highlights{
    width: 90%;
    margin: auto;
    display: flex;
    gap: 200px;
}

.highlight_text{
    color: var(--text-color);
    font-weight: 100;
    font-size: 16px;
}

.highlights_cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.highlight_card{
    border: 0.75px solid #2a2822;
    background-color: #201E18;
    border-radius: 4px;
    width: 650px;
    height: 146.8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}


.highlight_head h3{
    color: var(--text-color);
    font-weight: 150;
    font-size: 16px;
}

.highligt_about p{
    color: var(--text-light-color);
    font-weight: 150;
    font-size: 16px;
}

.highlight_date{
    color: var(--text-light-color);
    font-weight: 150;
    font-size: 16px; 
}

.highlight_link{
    margin-top: 20px;
}

.highlight_link a{
    margin-top: 20px;
    color: #F54E00;
    font-size: 16px;
    font-weight: 100;
}

.highlight_link a:hover{
    color: #a83601;
}

.fotter{
    background-color: var(--card-backgound-color);
    margin-top: 70px;
}

.fotter_content{
    width: 90%;
    margin: auto;
    padding: 20px 0px;
}

.fotter_top{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

.fotter_coloum{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fotter_coloum h3{
    color: var(--text-light-color);
    font-size: 14px;
}

.footer_coloum_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--text-color);
    font-weight: 100;
    font-size: 14px;
}

.fd_left{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.fd_left p{
    color: var(--text-light-color);
    font-size: 14px;
}

.fd_right{
    display: flex;
    gap: 16px;
    align-items: center;
}

/* THEME SWITCH GROUP */
.theme-switch{
    display: flex;
    align-items: center;
    background: #201e18;
    border: 1px solid #2a2822;
    border-radius: 999px;
    padding: 4px;
    gap: 4px;
}

/* individual icons */
.icon-btn{
    width: 36px;
    height: 32px;
    border-radius: 999px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

/* active button example */
.icon-btn:first-child{
    background: #2b2922;
}

/* hover */
.icon-btn:hover{
    background: #2b2922;
}


/* LANGUAGE BUTTON */
.lang-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    background: #201e18;
    border: 1px solid #2a2822;
    color: white;
    padding: 8px 14px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 14px;
}

.lang-btn:hover{
    background: #2b2922;
}

/* arrow */
.arrow{
    font-size: 12px;
    opacity: 0.8;
}

.fotter_down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
